
.slide {
    display:block;
    margin:auto;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 26px;
    text-align: center;
    max-width: 40vw;
    max-height: 38vh;
}

/*Tres puntos*/
.slide-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: calc( 300px + 3em);
}
/*desliz y apertura*/
.slide-open:checked + .slide-item {
    position: static;
    opacity: 100;
}
.carrito{
    width: 6vh;
    height: 6vh ;
}

.slide-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.slide-item img {
    display:block;
    margin:auto;
    max-width: 100vw;
    height: 38vh;
}

.slide-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 34%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.slide-control.prev {
    left: 2%;
}

.slide-control.next {
    right: 2%;
}

.slide-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#slide-1:checked ~ .control-1,
#slide-2:checked ~ .control-2,
#slide-3:checked ~ .control-3 {
    display: block;
}

.slide-indicador {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: -55%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.slide-indicador li {
    display: inline-block;
    margin: 0 5px;
}

.slide-circulo {
    color: #828282;
    cursor: pointer;
    display: block;
    font-size: 35px;
   
}

.slide-circulo:hover {
    color: #aaaaaa;
}

#slide-1:checked ~ .control-1 ~ .slide-indicador 
     li:nth-child(1) .slide-circulo,
#slide-2:checked ~ .control-2 ~ .slide-indicador 
      li:nth-child(2) .slide-circulo,
#slide-3:checked ~ .control-3 ~ .slide-indicador 
      li:nth-child(3) .slide-circulo {
    color: #428bca;
    height: 40vh;
}

#titulo {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgb(20, 7, 7);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), 
         -1px 0px 2px rgba(255, 255, 255, 0);
}
.categorias{
    position: absolute;
    width: 80vw;
    height: 105vh;
    
    right: 22vw;
    top:60vh;
}
.aside-categorias-img{ /*Imagenes */
    display: inline-flexbox;
    width: 20vw;
    height: 10vh;
    margin: 5% auto;
    left: 13vw;
    display: inline;
    border-radius: 1rem;
    position: relative;
    text-align: start;
}
.categoria-img{
    top:2rem;
    position: relative;
    width: 25vw;
    height: 48vh;
    text-align: center;
    border-radius: 1rem;
    margin-left: 4rem;
    margin-right: 5px;
    margin-top: 6px;
    margin-bottom: 6px;
}
.logoHeader{
    width: 14vh;
    max-height: 8vh;
}
.carrito{
    height: 3wh;
    width: 4vw;
}
nav{
    font-weight: 600rem;
}

#items{
    display: block;
    position: absolute;
    width: 78vw;
    height: 113vh;
    right: 20vw;
    top: 15vh;
}

.col4{
    display: inline-block;
    width: 22vw;
    height: 49vh;
    margin: 10% auto;
    left: 10vw;
    border-radius: 1rem;
    position: relative;
    text-align: justify;
    font-size: 3rem;
    margin-left: 10px;
    margin-right: 25px;
    margin-top: 80px;
    margin-bottom: 9px;

    color: var(--tertiaryColor);
}


.imgFluid{
    position: relative;
    width: 25vw;
    height: 55vh;
    text-align: center;
    border-radius: 1rem;
    
}
.btn-primary{
    display: inline-block;
    margin: 10% auto;
    left: 3vw;
    position: relative;
    text-align: center;
    width: 22vw;
    height: 6vh;
    min-width: 8rem;
    border-radius: 1.4rem;
    background-color: rgb(231, 41, 174);
    font-size: 2rem;
    bottom: 1rem;
}
.col-sm-4{
    
    background-color:var(--tertiaryColor) ;
    position:absolute;
}
.noMostrarNo > div{
    font-size: 0;
    position: absolute;
    width: 0;
    height: 0;
}
.noMostrarNo img {
    font-size: 0;
    position: absolute;
    width: 0;
    height: 0;
    color: none;
}
.noMostrarNo button {
    font-size: 0;
    position: absolute;
    width: 0;
    height: 0;
    color: none;
}
.noMostrarNo h5 {
    font-size: 0;
    position: absolute;
    width: 0;
    height: 0;
    color: none;
}
.btnCompra{
    display:flexbox;
    position:relative;
    text-align:center;
    width: 22vw;
    height: 6vh;
    background-color: rgb(214, 189, 48);
    font-size: 2rem;
    right: -15vh;
}
.btnVaciarCar , .btnComprarCar{
    display: inline-block;
    margin: 5% auto;
    left: 48vw;
    position: relative;
    text-align: center;
    width: 22vw;
    height: 7vh;
    border-radius: .7rem;
    font-size: 2rem;
    background-color: red;
}
.list-group , .totalCar, .text-right{
    font-size: 2rem;
}
.tituloCar{
    font-size: 2.6rem;
}
.btnComprarCat{
    display: inline-block;
    margin: 2% auto;
    left: 60vw;
    position: relative;
    text-align: center;
    right: 97vw;
}
.btnReturn{
    display:flexbox;
    position:relative;
    text-align:center;
    width: 22vw;
    height: 6vh;
    background-color: rgb(6, 156, 1);
    font-size: 2rem;    
    display: inline-block;
    margin: 2% auto;
    right: 70vw;
      
    position: relative;
    text-align: center;
}
/*datos*/
.datos{
    margin-left: 2vw;
    font-size: 2rem;
    color: white;
    display: block;
    position: absolute;
    top: 75vh;   
}
input{
    text-align: center;
    border: 1rem;
    background-color: #6d9af3;
}
#caja {display: block;
    position: absolute; width: 300%; float:right; border: 1px solid black; top: 250vh; color: azure;}
.pago{
    margin-left: 2vw;
    font-size: 2rem;
    display: block;
    position: absolute;
    top: 195vh; 
}
.resultadoEscribe{
    color: aqua;
}

.texttotal{
    background-color: aqua;
    margin-left: 2vw;
    font-size: 2rem;
    display: block;
    position: absolute;
    top: 195vh; 
}
.imgDatos{
    width: 35vw;
    display:inline-flexbox;
    position:relative;
    text-align:center;
}
.form-control{
    width: 50vw;   
}

/*Factura*/
.factura {
    table-layout: fixed;
  }
  
  .fact-info > div > h5 {
    font-weight: bold;
  }
  
  .factura > thead {
    border-top: solid 3px #000;
    border-bottom: 3px solid #000;
  }
  
  .factura > thead > tr > th:nth-child(2), .factura > tbod > tr > td:nth-child(2) {
    width: 300px;
  }
  
  .factura > thead > tr > th:nth-child(n+3) {
    text-align: right;
  }
  
  .factura > tbody > tr > td:nth-child(n+3) {
    text-align: right;
  }
  
  .factura > tfoot > tr > th, .factura > tfoot > tr > th:nth-child(n+3) {
    font-size: 24px;
    text-align: right;
  }
  
  .cond {
    border-top: solid 2px #000;
  }
.btnRegresar{
    width: 4vw;
    position: absolute;
    top: 7.8%;
    /*left: -150%;*/
    right: 340%;
    
}

.parrafo{
    color: #fff;
    text-align: center;
    padding: 6rem;
    letter-spacing: 2vh;
    font-size: 24px;
}
.btnVolver{
    width: 4vw;
    position: absolute;
    top: 7.8%;
    /*left: -150%;*/
    right: 8rem;
}
